@page
@model MyApp.Namespace.DetailsModel
@{
    ViewData["Title"] = "Detalles de la persona";
}



<h1>Detalles de la persona</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persona.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persona.Edad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persona.Edad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Persona.Altura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Persona.Altura)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Persona.Id">Edit</a> |
    <a asp-page="./List">Volver a la lista original</a>
</div>
